.date-picker-dark {
  --rdp-accent-color: #3b82f6;
  --rdp-background-color: #18181b;
  --rdp-accent-background-color: #1e40af;
  color: #e4e4e7;

  padding: 0;
  margin: 0;
  border-radius: 4px;

  /* Prevent weird scroll blocking */
  pointer-events: auto !important;
  overscroll-behavior: contain;
}

.date-picker-dark .rdp-month {
  padding: 0; 
  margin: 0;
}

.date-picker-dark .rdp-month_caption {
  color: #e4e4e7;
  font-weight: 600;
  padding: 0 0 0 0.8rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.date-picker-dark .rdp-weekdays {
  padding: 0 0.25rem;
  margin: 0;
}

.date-picker-dark .rdp-weekday {
  color: #a1a1aa;
  font-size: 0.70rem;
  padding: 0.05rem 0.25rem;
}

.date-picker-dark .rdp-table {
  border-spacing: 0;
}

.date-picker-dark .rdp-day {
  padding: 0;
  margin: 0;
}

.date-picker-dark .rdp-day_button {
  margin: 0;
  padding: 0.15rem 0.15rem;
  border-radius: 3px;
  font-size: 0.80rem;
  line-height: 1rem;
}

.date-picker-dark .rdp-day_button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #27272a;
}

.date-picker-dark .rdp-day_button.rdp-day_selected {
  background-color: #3b82f6;
  color: white;
}

.date-picker-dark .rdp-day_button.rdp-day_today:not(.rdp-day_selected) {
  color: #3b82f6;
  font-weight: 600;
}

.date-picker-dark .rdp-day_button:disabled {
  opacity: 0.25;
}

.date-picker-dark .rdp-nav_button {
  padding: 0.2rem;
  border-radius: 4px;
  color: #e4e4e7;
}

.date-picker-dark .rdp-nav_button:hover {
  background-color: #27272a;
}
