@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
	--main: #18181b;
}

* {
	font-family: "Inter";
}

.mapboxgl-marker {
	transition: transform 0.1s ease-out;
	will-change: transform;
}
